# Datasets (large files, download via script)
datasets/
*.ppm

# Training runs & outputs
runs/

# Model weights
*.pt
*.onnx
*.engine
*.torchscript

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store

