// Source - https://stackoverflow.com/a/53819962
// Posted by Ulysse BN
// Retrieved 2026-03-14, License - CC BY-SA 4.0

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
